body {
    background-size: cover;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#start,#number_objects,#status {
    font-size: 18px;
}

.copyright_footer {
    position: fixed;
    color: red;
    background: grey;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

canvas {
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 90px;
    box-shadow: 5px 5px 5px black;
}